
<h3>This Application has 2 validation modules :: </h3>
<h3>1. ValidateString :: This module is present in this project (POC-USER)</h3>
<h3>2. ValidateNumber :: This module is referenced from POC-ADDRESS git project. </h3>

<div class="wrapper">
  <form>
  	<div class="lbl">First Name : <span>(has character validation)</span></div>
  	<div><input type="text" ng-model="txtFirstName" validate-string></div>
  	<div class="lbl">Last Name : <span>(has character validation)</span></div>
    <div><input type="text" ng-model="txtLastName" validate-string></div>
  	<div class="lbl">Contact Number : <span>(has number validation from <b>poc-address</b> git project)</span></div>
  	<div><input type="text" ng-model="txtContactNo" validate-number></div>
  </form>
</div>